body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaperaccess.com/full/5651980.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    
}

.welcome-container {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;

}

.welcome-container h1 {
    margin: 0;
    font-size: 8em;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
